In [7]:
import pandas as pd

In [85]:
#Задание 1
rat = pd.read_csv('/Users/alexa_yakovleva/Downloads/ml-latest-small/ratings.csv')
rat.head()
rat.rating.value_counts().head()
rat_ = rat[rat.rating == 5.0] .head(13211)
rat_.movieId.value_counts().head(1)
movie = pd.read_csv('/Users/alexa_yakovleva/Downloads/ml-latest-small/movies.csv')
movie [movie.movieId == 318].head()

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

In [86]:
#Задание 2
power = pd.read_csv('/Users/alexa_yakovleva/Downloads/10/power.csv')
power.head()
filtered_countries = power[ (power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia')]
f_category= filtered_countries[(filtered_countries['category'] == 4) | (filtered_countries['category'] == 12) | (filtered_countries['category'] == 21)]
f_years = f_category[(f_category['year'] >= 2005) & (f_category['year'] <= 2010)]
f_quantity = f_years[(f_years['quantity'] > 0)]
f_quantity['quantity'].sum()

240580.0

In [94]:
pd.read_html('https://fortrader.org/quotes')[1]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 891       7.00          0.00        NaN
1  Серебро Цена на серебро на бирже  22.34       0.13          0.59        NaN
2         Палладий Цена на Палладий  1 634      -2.00          0.00        NaN
3           Платина Цены на платину    983       1.00          0.00        NaN
4           Медь Цена меди на бирже   4.04      -0.03         -0.69        NaN

In [ ]:
pd.read_html('https://fortrader.org/quotes')[2]

In [ ]:
pd.read_html('https://fortrader.org/quotes')[3]